.geometrica{
    width: 500px;
    height: 500px;
}

.Roupabranca{
    width: 500px;
    height: 500px;
}

.roupaflorida{
    width: 400px;
    height: 500px;
}

.camisa{
    height: 25%;
    width: 25%;
}

.camisapreta{
    height: 25%;
    width: 25%;
}