body{
    background-color: rgb(233, 185, 146);
}

#vestidorosa, h1, h2, h3, .inicial{
    text-align: center;
}


h3 {
    
    color: rgb(146, 84, 14);
    font-family: 'Times New Roman', Times, serif;
}


h1, h2{
    color: rgb(104, 58, 6);    
    font-family:Georgia, 'Times New Roman', Times, serif;
}




p{
    color: rgb(146, 84, 14);  
}



img{
    width: 25%;
    height: auto;
    border-radius: 30%;
}

#meio{
    width: auto;
    height: 406px;
}

.teste{
    width: 250px;
    height: auto;
    box-shadow: 10px 5px 8px;
    margin-left: 5rem;

}
.teste:hover{
    box-shadow: 2px 10px 18px maroon;
}